#python-novaclient uses only "passwordCredentials" and not "apiAccessKeyCredentials"
#so use the username password for the hpcloud portal, not the access keys
username=''
password=''
#The keystone auth v2.0 url
auth_url=''

# Tenant name (also called project_id)
# In HP cloud:
#   The project_id - same as username or whatever "Project (top right of the dashboard screen)" says
# In Rackspace:
#   The account number
tenant_name=''

